<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zucc.music.dao.ArtistMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zucc.music.model.Artist" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="album_size" property="albumSize" jdbcType="INTEGER" />
    <result column="music_size" property="musicSize" jdbcType="INTEGER" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, album_size, music_size, pic_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from artist
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from artist
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.music.model.Artist" >
    insert into artist (id, name, album_size, 
      music_size, pic_url)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{albumSize,jdbcType=INTEGER}, 
      #{musicSize,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.music.model.Artist" >
    insert into artist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="albumSize != null" >
        album_size,
      </if>
      <if test="musicSize != null" >
        music_size,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="albumSize != null" >
        #{albumSize,jdbcType=INTEGER},
      </if>
      <if test="musicSize != null" >
        #{musicSize,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.music.model.Artist" >
    update artist
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="albumSize != null" >
        album_size = #{albumSize,jdbcType=INTEGER},
      </if>
      <if test="musicSize != null" >
        music_size = #{musicSize,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.music.model.Artist" >
    update artist
    set name = #{name,jdbcType=VARCHAR},
      album_size = #{albumSize,jdbcType=INTEGER},
      music_size = #{musicSize,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>