<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zucc.music.dao.DynamicMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zucc.music.model.Dynamic" >
    <id column="dynamic_id" property="dynamicId" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="dynamic_path" property="dynamicPath" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dynamic_id, introduction, dynamic_path, create_time, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.music.model.Dynamic" >
    insert into dynamic (dynamic_id, introduction, dynamic_path, 
      create_time, user_id)
    values (#{dynamicId,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR}, #{dynamicPath,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.music.model.Dynamic" >
    insert into dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        dynamic_id,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="dynamicPath != null" >
        dynamic_path,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="dynamicPath != null" >
        #{dynamicPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.music.model.Dynamic" >
    update dynamic
    <set >
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="dynamicPath != null" >
        dynamic_path = #{dynamicPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.music.model.Dynamic" >
    update dynamic
    set introduction = #{introduction,jdbcType=VARCHAR},
      dynamic_path = #{dynamicPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </update>
</mapper>