<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.advancejava.dao.SheetMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.advancejava.model.Sheet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sheet_id" jdbcType="INTEGER" property="sheetId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="sheet_name" jdbcType="VARCHAR" property="sheetName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sheet_id, user_id, sheet_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sheet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sheet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.advancejava.model.Sheet">
    insert into sheet (id, sheet_id, user_id, 
      sheet_name)
    values (#{id,jdbcType=INTEGER}, #{sheetId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{sheetName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.advancejava.model.Sheet">
    insert into sheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sheetId != null">
        sheet_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="sheetName != null">
        sheet_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sheetId != null">
        #{sheetId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sheetName != null">
        #{sheetName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.advancejava.model.Sheet">
    update sheet
    <set>
      <if test="sheetId != null">
        sheet_id = #{sheetId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sheetName != null">
        sheet_name = #{sheetName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.advancejava.model.Sheet">
    update sheet
    set sheet_id = #{sheetId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      sheet_name = #{sheetName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>